<style>

#chart svg {
  height: 400px;
}

</style>


<div id="chart">
  <svg></svg>
    <a style = "float:right; margin-top:-1.5em;padding-bottom:.5em; font-size:small" href =
  'http://nbviewer.ipython.org/github/LucaFoschini/lucafoschini.github.io/blob/master/notebooks/process_wunderlist.ipynb'>Show me
  how to make this</a>
</div>

<script type="text/javascript">
 d3.json('/data/wunderlist.json', function(data) {

nv.addGraph(function() {
  var chart = nv.models.stackedAreaChart()
                .x(function(d) { return d[0] })
                .y(function(d) { return d[1] })
                .tooltips(true)
                .showControls(false);

  chart.xAxis
      .showMaxMin(false)
      .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

  chart.yAxis
      .axisLabel('# items')
      .axisLabelDistance(40)
      .showMaxMin(false)
      .tickFormat(d3.format(',.0f'));

  d3.select('#chart svg')
    .datum(data)
      .transition().duration(500).call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
});

 })
</script>
